<!DOCTYPE html>
<html>
<head>
  <title>TravelAgency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

<br />
<br />
<%= link_to "room_categories", room_categories_path %>
<br />
<%= link_to "hotels", hotels_path %>
<br />

</html>
